<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    <br/>
    <br/>
    <div class="container">
      <div class="page-header">
          <h1> Hari Krishna Reddy Jetti </h1>
      </div>
      <br/>
      <br/>
      <div class="row">
          <div class="col-md-9">
              <br/>
              <br/>
              <p>
                  I am a Computer Programmer with 3 years of working experience, I am currently studying Artificial Intelligence in centennial college.
               </p>
              
              <!-- <br /> -->
              <!-- <small><i>*for more information about co-op program and its benefit, please <a href="employer_guide.pdf" download="Employer's Guide">click here</a> to download 'Employer's Guide' document.</i></small> -->
          </div>
          <div class="col-md-3">
              <img src="https://media-exp1.licdn.com/dms/image/C5603AQEEdW28K49_7g/profile-displayphoto-shrink_200_200/0/1636491994155?e=1667433600&v=beta&t=oTqdlIMrhuefew0bldtIquLlCPzbsSG8pmZDbTIT5GQ" alt="image_1" width="300" height="250" />
          </div>
      </div>
  
  </main>
  

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
