<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <%= title %> page</h1>
      <b>Hi, nice to meet you.
          I'm HARI KRISHNA JETTI, a Computer Programmer,
          & welcome to my portfolio.</b>
    </div>
  
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
