<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<main class="container">
    <div class="jumbotron">
      <!-- <h1 class="display-4">Welcome to <%= title %> page</h1> -->
      <main class="main">
          <div class="container">
              <div class="page-header">
                  <h1> Services </h1>
              </div>
              <img class="serviceimg" src="https://thumbs.dreamstime.com/z/services-concept-flat-line-design-icons-elements-modern-services-concept-s-collection-services-concept-lettering-thin-68961333.jpg" alt="services" width="500" height="500">
              
          </div>
      </main>
      
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
